/*====================> APP.SCSS <====================//
Make real style changes to this file and compile them
	via SASS (local alias 'watchthesass') to css/app.css

INCLUDE EXTERNAL STUFF:
========================
@include plugins-like-this;
@import "linked-sheets.scss";

//====================> APP.SCSS <====================*/


$bodyColor: #bbddff;
$textColor: #3f3f3f;

body{
	background: $bodyColor;
}

p{
	color: $textColor;
	padding: 30px;
}

a{
	text-decoration: none;
}